{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="list-viewport">
  <h4>Welcome to tranSMART Arborist as a Service.</h4>
    <p><i>If you don't like column mapping or subject sample mapping files, then you'll sure like Boris.</i></p>

  <h6>What does this do?</h6>
    <p>With tranSMART Arborist you can interactively shape the tranSMART concept tree without any required expertise.
      </p>
  <h6>I am new, where do I go?</h6>
    <p>To test the functionaly of The Arborist, you can try the TraIT Cell line use case demo
      study <a href="{% url 'demo' %}"><u><b>here</b></u></a>.
    </p>

  <h6>How can I use this for my own projects?</h6>
    <p>Go to our github for
      <a target="_blank" href="https://www.github.com/thehyve/tmtk/"><i>tmtk</i></a>,
      a Python package that allows you to run The Arborist on your own local data. Note that
      your tranSMART study must be formatted appropriately for
      <a target="_blank" href="https://www.github.com/thehyve/transmart-batch/">transmart-batch</a>.
      <br>
      If you would like to know more, please contact us through
       <a target="_blank" href="https://www.thehyve.nl/contact">our website</a>.

    </p>
</div>
{% endblock %}
