{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Study Tree Files{% endblock %}

{% block content %}

<div class="list-viewport">

  <h3 align="center">{{ view.study.name }}</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Version</th>
          <th>By</th>
          <th>Date</th>
        </tr>
      </thead>

    {% for tree in view.versions %}
      <tr class='clickable-row' onclick="window.document.location='{% url 'trees:edit' tree.study.slug tree.version %}';">
        <td>{{ tree.version }}</td>
        <td>{{ tree.created_by }}</td>
        <td>{{ tree.save_date|date:"j-n-Y  G:i" }}</td>
      </tr>
    {% endfor %}
    </table>


  {% if perms.trees.add_tree %}
  <div style="margin-top: 0.5cm;">
    <h2>Users with permission to edit</h2>
    <table class="table table-hover">
      {% for user in view.editors %}
        <tr class='clickable-row' onclick="window.document.location='{% url 'users:detail' user.username %}';">
          <td>{{ user.username }}</td>
        </tr>
      {% endfor %}
    </table>

    <div class="col-sm-12 ">
      <a class="btn btn-sm btn-primary" href="{% url 'users:add_to_group' view.study.slug %}">Add user to group for access</a>
    </div>
  </div>
    {% endif %}
</div>
{% endblock %}



