{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Study Tree Files{% endblock %}

{% block content %}

<div class="container">

    <h2>Trees for project: {{ view.study.name }}</h2>
    <div class="list-group">
        {% for tree in view.versions %}
          <a href="{% url 'trees:detail' tree.study.slug tree.version %}" class="list-group-item">
            <h4 class="list-group-item-heading">({{ tree.version }}) {{ view.study.name }} by {{ tree.created_by }} on {{ tree.save_date }}</h4>
          </a>
        {% endfor %}

    </div>

  <hr>

    <h2>Users with permission to edit</h2>
    <div class="list-group">
        {% for user in view.editors %}
          <a href="{% url 'users:detail' user.username %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ user.username }}</h4>
          </a>
        {% endfor %}
    </div>

  {% if perms.trees.add_tree %}
  <hr>

    <div class="col-sm-12 ">
      <a class="btn btn-primary" href="{% url 'users:add_to_group' view.study.slug %}">Add user to group for access</a>
  </div>

</div>
  {% endif %}
{% endblock %}



