{% extends "base.html" %}
{% load static %}

{% block title %}Tree: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object }}</h2>
    </div>
  </div>

<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'trees:edit' object.study.slug object.version%}">Edit Tree</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
    <div class="col-sm-12 ">
        <b> Save date: {{ object.save_date }} </b>
        <br>
        <b> Created by: {{ object.created_by }} </b>

    </div>
</div>
{% endblock content %}

